*{
    padding: 0px;
    margin: 0px;
}

nav{
    height: 10vh;
    border-bottom: 5px solid wheat;
}

header{
   
    min-height: 82vh;
    width: 100%;
    background: url("../../public/images/background1.jpg");
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

focusWord{
    color: aliceblue;
    background-color:  #2E4960;
}

footer{
    height: 8vh;
    width: 100%;
    background-color: #2E4960;
    border-bottom: 5px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

footercontent{
    color: aliceblue;
    font-size: 15px;
    font-style: italic;
}
mybtn{
    font-size: 20px;
}

h1{ 
    margin-left: 15px;
    font-size: 60px;
    font-weight: 500;
    color: chocolate
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a{
    margin-top: 20px;
}

about{
    min-height: 82vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.listingContainer {
    min-height: 82vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

leftcontainer{
    height: 82vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
leftcontainer p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
rightcontainer{
    background-image: url("../../public/images/background2.jpg");
    min-height: 82vh;
    background-size: cover;
    width: 50%;
    border: 10px solid white;
}

.listingContainer {
    min-height: 82vh;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.card {
    width: 100%;
}
