@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.mainContainer {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 82vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin: auto auto;
}

form {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px; 
    
}

.inputField {
    width: 100%;
    display: block;
}

.inputField input {
    width: 100%;
    display: block;
}

.inputField textarea {
    width: 100%;
    display: block;
}

.btnGroup {
    width: 100%;
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.btnGroup button {
    // width: 50%;
    // padding: 20px;
}

.textarea {
    border: none;
}
.textarea:focus {
    border: none;
}

.radioContainer {
    // border: 2px solid green;
    width: 100%;
}

.petTypeLabel {
    display: block;
    // width: 100%;
}

.radioBtnContainer {
    display: flex;
    gap: 10px;

}

.radioBtn {
    // display: grid;
    padding: 10px 8px;
    // width: fit-content;
    border-bottom: 2px solid transparent;
}

.radioActive {
    padding: 10px 8px;  
    color: black; 
    border-bottom: 2px solid wheat;
}

.backBtn {
    padding: 15px 8px;
    border: none;
    background-color: transparent;
}
.nextBtn {
    // border: 2px solid black;
    outline: none;
    background-color: #2E4960;
    color: white;
    border-radius: 10px;
    transition: 100ms;
}
.nextBtn:hover {
    // border: none;
    // border-radius: 0px;
    // background-color: transparent;
    // color: #2E4960;
    cursor: pointer;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}